/* ============================= */
/* CREATE LAB PAGE ONLY */
/* ============================= */
:root {
  
  --white: #ffffff;
  --cool-white: #f8fafc;
  --bg-main: #f4f8fc;

  --blue-100: #e6f2ff;
  --blue-200: #cfe5ff;
  --blue-300: #99c9ff;
  --blue-400: #66adff;
  --blue-500: #3b82f6; 
  --blue-600: #2563eb;

  
  --text-primary: #0f172a;
  --text-secondary: #475569;
  --text-muted: #94a3b8;

  
  --success: #22c55e;
  --warning: #f59e0b;
  --danger: #ef4444;
  --info: #38bdf8;

}
.create-lab {
  max-width: 700px;
  margin: 100px auto;
  background: var(--white);
  padding: 2rem;
  border-radius: 12px;
  border: 1px solid var(--blue-200);
}

/* ---- TITLE ---- */
.create-lab h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--text-primary);
}

/* ---- FORM GRID ---- */
.create-lab .lab-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

/* ---- FORM GROUP ---- */
.create-lab .form-group {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

/* ---- LABEL ---- */
.create-lab label {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-secondary);
}

/* ---- INPUTS ---- */
.create-lab input {
  padding: 0.65rem 0.75rem;
  border-radius: 6px;
  border: 1px solid var(--blue-300);
  font-size: 0.9rem;
  background: var(--white);
  color: var(--text-primary);
}

/* ---- FOCUS ---- */
.create-lab input:focus {
  outline: none;
  border-color: var(--blue-500);
  box-shadow: 0 0 0 2px var(--blue-200);
}

/* ---- SUBMIT BUTTON ---- */
.create-lab .submit-btn {
  grid-column: 1 / -1;
  margin-top: 1rem;
  padding: 0.8rem;
  background: var(--blue-500);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.create-lab .submit-btn:hover {
  background: var(--blue-600);
}
.cancel-btn{
  font-size: medium;
  grid-column: 1 / -1;
  padding: 0.8rem;
  background: var(--warning);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 800;
  cursor: pointer;
}
.cancel-btn:hover{
  background: var(--warning);
}
/* ---- MESSAGE ---- */
.create-lab .success {
  grid-column: 1 / -1;
  margin-top: 0.5rem;
  text-align: center;
  font-weight: 600;
  color: var(--success);
}
.error{
  color: var(--danger);
  grid-column: 1 / -1;
  margin-top: 0.5rem;
  text-align: center;
  font-weight: 600;
}

/* ---- RESPONSIVE ---- */
@media (max-width: 600px) {
  .create-lab .lab-form {
    grid-template-columns: 1fr;
  }
}
