:root {
  
  --white: #ffffff;
  --cool-white: #f8fafc;
  --bg-main: #f4f8fc;

  --blue-100: #e6f2ff;
  --blue-200: #cfe5ff;
  --blue-300: #99c9ff;
  --blue-400: #66adff;
  --blue-500: #3b82f6; 
  --blue-600: #2563eb;

  
  --text-primary: #0f172a;
  --text-secondary: #475569;
  --text-muted: #94a3b8;

  
  --success: #22c55e;
  --warning: #f59e0b;
  --danger: #ef4444;
  --info: #38bdf8;

}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.print-btn{
    padding: 1rem 10rem 1rem 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: var(--blue-500);
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 900;
    cursor: pointer;
    font-size: large;
}
.print-btn:hover{
    background-color: var(--blue-600);
}