:root {
  
  --white: #ffffff;
  --cool-white: #f8fafc;
  --bg-main: #f4f8fc;

  --blue-100: #e6f2ff;
  --blue-200: #cfe5ff;
  --blue-300: #99c9ff;
  --blue-400: #66adff;
  --blue-500: #3b82f6; 
  --blue-600: #2563eb;

  
  --text-primary: #0f172a;
  --text-secondary: #475569;
  --text-muted: #94a3b8;

  
  --success: #22c55e;
  --warning: #f59e0b;
  --danger: #ef4444;
  --info: #38bdf8;

}

/* ---- PAGE ---- */
.validate-page {
  max-width: 1000px;
  margin: 50px auto;
  background: var(--white);
  padding: 2em;
  border-radius: 12px;
  border: 1px solid var(--blue-200);
}

/* ---- TITLE ---- */
.validate-page h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--text-primary);
}

/* ---- GRID ---- */
.validate-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

/* ---- CARD ---- */
.validate-card {
  border: 1px solid var(--blue-200);
  border-radius: 10px;
  padding: 1.5rem;
  background: var(--cool-white);
}

/* ---- CARD TITLE ---- */
.validate-card h3 {
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-primary);
}

/* ---- QR ---- */
.qr-reader {
  margin: 0 auto;
  width: 280px;
}

/* ---- FORM GROUP ---- */
.validate-card .form-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.validate-card label {
  min-width: 70px;
  font-size: 15px;
  font-weight: 600;
  color: var(--text-secondary);
}

/* ---- INPUT ---- */
.validate-card input {
  flex: 1;
  padding: 0.6rem 0.75rem;
  border-radius: 6px;
  border: 1px solid var(--blue-300);
  font-size: 0.9rem;
}

.validate-card input:focus {
  outline: none;
  border-color: var(--blue-500);
  box-shadow: 0 0 0 2px var(--blue-200);
}

/* ---- BUTTON ---- */
.submit-btn {
  width: 100%;
  padding: 0.75rem;
  background: var(--blue-500);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.submit-btn:hover {
  background: var(--blue-600);
}

/* ---- RESULT ---- */
.result-box {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid var(--blue-200);
  background: var(--blue-100);
  text-align: center;
}
.result-box p{
    font-weight: 600;
    font-size: 1rem;
}

.result-box h3 {
  margin-bottom: 0.5rem;
}

.discount {
  margin-top: 0.5rem;
  font-weight: 700;
  color: var(--success);
}
.success{
  color: var(--success);
}
.error{
  color: var(--danger);
}
.spinner {
    width: 18px;
    height: 18px;
    border: 3px solid white;
    border-top: 3px solid transparent;
    border-radius: 50%;
    display: inline-block;
    animation: spin 0.6s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* ---- RESPONSIVE ---- */
@media (max-width: 900px) {
  .validate-grid {
    grid-template-columns: 1fr;
  }
}
